<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/css/materialize.css")
        @Styles.Render("~/css/site.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="~/js/materialize.js"></script>
        <header>
                <nav class="top-nav blue lighten-4 ">
                        <div class="nav-wrapper">
                            <div class="col s12">
                                <a href="#" class="brand-logo">Monster Hunter Companion</a>
                                <ul id="nav-mobile" class="right hide-on-med-and-down">
                                    Stuff
                                </ul>
                            </div>
                        </div>
                </nav>

        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="parallax-container">
                <div class="parallax"><img src="~/Images/back.jpg" /></div>
            </div>
        </footer>
        @*
            Commented out since I need to be using the later version, and initialised before materialize
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
        *@
    </body>
</html>
<script language="javascript">

    $(document).ready(function () {
        $('select').material_select();
        $('.carousel.carousel-slider').carousel({ fullWidth: true });
        $('.parallax').parallax();
    });

</script>