@model IEnumerable<MonsterHunterCompanion.Models.DamageCalculator.Weapon>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayRaw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayElementDamage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Element)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayAffinity)
        </th>
    </tr>
    @foreach (var weapon in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => weapon.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => weapon.DisplayRaw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => weapon.DisplayElementDamage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => weapon.Element)
            </td>
            <td>
                @Html.DisplayFor(modelItem => weapon.DisplayAffinity)
            </td>
        </tr>
    }

</table>
