@model MonsterHunterCompanion.Models.DamageCalculator.Weapon

<tr>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.DisplayRaw)
    </td>
    <td>
        @Html.DisplayFor(model => model.DisplayElementDamage)
    </td>
    <td>
        @Html.DisplayFor(model => model.Element)
    </td>
    <td>
        @Html.DisplayFor(model => model.DisplayAffinity)
    </td>
</tr>