@model BowCompanion.Models.BowCompanion.BowCompanionViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bows.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bows.FirstOrDefault().DisplayRaw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bows.FirstOrDefault().DisplayElementDamage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bows.FirstOrDefault().DisplayAffinity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bows.FirstOrDefault().ElementDamage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Bows) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayRaw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayElementDamage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayAffinity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElementDamage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeaponId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeaponId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeaponId })
        </td>
    </tr>
}

</table>
